# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore environment variables
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Streamlit cache
.streamlit/

# Ignore virtual environments
venv/
.env/
*.env
